<h1> Ecommerce Purchases Project

The data is taken from the "kaggke.com"

In [1]:
# import import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load the data

In [2]:
df = pd.read_csv(r"D:\HP\datasets kaggle\Ecommerce Customers.csv")

**check the head of data**

In [3]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

##### Explore the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [5]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

-------------------
#### Where is the Mostly time spend

In [6]:
df['Time on App'].sum()

6026.243968583066

In [7]:
df['Time on Website'].sum()

18530.222710474292

**Mostly time spend on website**
___________________________________
____________________________________

#### Highest amount spend yearly

In [8]:
df['Yearly Amount Spent'].max()

765.5184619388372

In [9]:
df.loc[df['Yearly Amount Spent'] == df['Yearly Amount Spent'].max()]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
65,kyang@diaz.org,"223 Love Trail Suite 831\nPort Jeffrey, IN 46849",OliveDrab,34.374258,15.126994,37.157624,5.377594,765.518462

**'kyang@diaz.org' has spent Highest amount in the year**
_________________
----------------

##### TOP 10 highest amount spend

In [10]:
df.sort_values('Yearly Amount Spent',ascending=False).head(10)

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
65,kyang@diaz.org,"223 Love Trail Suite 831\nPort Jeffrey, IN 46849",OliveDrab,34.374258,15.126994,37.157624,5.377594,765.518462
157,asilva@yahoo.com,USNV Johnson\nFPO AP 19026,Wheat,34.603311,12.207298,33.913847,6.922689,744.221867
50,william82@gmail.com,"11143 Park Squares\nSamanthatown, UT 97073",SandyBrown,33.256335,13.858062,37.780265,5.976768,725.584814
205,jeffrey54@mcdonald-williams.com,"297 Francis Valley\nSouth Lindsey, NY 13669-5367",Gainsboro,34.967610,13.919494,37.952013,5.066697,712.396327
368,rhonda01@gmail.com,"939 Watson Run\nStaceyberg, VT 58376-0454",Orchid,34.385820,12.729720,36.232110,5.705941,708.935185
24,youngbarbara@yahoo.com,"019 Elliott Tunnel Suite 190\nNicholsbury, WV ...",Wheat,34.507551,12.893670,37.635756,5.705154,700.917092
305,randyrobinson@hotmail.com,"14548 Hayes Isle Apt. 436\nGarciaville, IN 65366",DarkGray,33.302672,13.459222,36.339521,5.566385,689.787604
464,susanibarra@yahoo.com,"426 Scott Radial Apt. 065\nAbigailstad, MS 165...",Thistle,32.533240,14.121784,38.406329,5.320094,689.235700
151,alicia85@lee.com,"14220 Carla Flat Suite 521\nLake Matthew, DE 0...",DimGray,32.887105,12.387184,37.431159,6.401229,684.163431
396,waltonkaren@gmail.com,"355 Villegas Isle Apt. 070\nWest Jenniferview,...",Green,35.742670,10.889828,35.565436,6.115199,669.987141

________________
___________________

#### who spend minmum time on app & website

In [11]:
df.loc[df['Time on Website'] == df['Time on Website'].min()]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
157,asilva@yahoo.com,USNV Johnson\nFPO AP 19026,Wheat,34.603311,12.207298,33.913847,6.922689,744.221867

In [12]:
df.loc[df['Time on App'] == df['Time on App'].min()]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
309,dblair@gmail.com,"190 Kelley Burg\nWest Juliaport, IA 35826-8163",MediumSlateBlue,34.102279,8.508152,35.4624,1.838211,302.189548

_____________

#### What is the average length of Membership

In [13]:
df['Length of Membership'].mean()

3.5334615559150566

#### Data of Cyan

In [14]:
df[df['Avatar']=="Cyan"]

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
18,alejandro75@hotmail.com,"64475 Andre Club Apt. 795\nPort Dannytown, PW ...",Cyan,32.187812,14.715388,38.244115,1.516576,452.315675
125,jessica97@hotmail.com,"32202 Curtis Branch Apt. 411\nPort Brettmouth,...",Cyan,31.576132,12.579894,37.093265,4.531987,541.226584
221,mfoster@brown-white.com,"36192 Ho Spring\nNew Michael, RI 65851-6369",Cyan,33.636624,11.236507,37.675021,5.254709,591.437736
240,william28@gmail.com,16763 Melissa Creek Suite 367\nNorth Keithland...,Cyan,32.922611,11.568116,36.909378,2.471751,398.163469
296,fuenteskathryn@schmidt-johnson.org,"839 Heather Cliff\nSouth Blake, SC 90412",Cyan,33.612563,11.470565,37.061689,3.802511,506.423860
310,veronicapruitt@hotmail.com,Unit 7502 Box 8345\nDPO AE 53747,Cyan,33.248506,11.656592,36.548605,3.363411,479.614812
432,katherinegray@yahoo.com,"685 Sexton Ranch Suite 125\nLake Robertshire, ...",Cyan,31.123974,12.386516,35.632112,4.288487,486.947054

_________________
_______________

#### TOP 5 membership

In [15]:
df.sort_values('Length of Membership',ascending=False).head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
157,asilva@yahoo.com,USNV Johnson\nFPO AP 19026,Wheat,34.603311,12.207298,33.913847,6.922689,744.221867
151,alicia85@lee.com,"14220 Carla Flat Suite 521\nLake Matthew, DE 0...",DimGray,32.887105,12.387184,37.431159,6.401229,684.163431
396,waltonkaren@gmail.com,"355 Villegas Isle Apt. 070\nWest Jenniferview,...",Green,35.742670,10.889828,35.565436,6.115199,669.987141
153,ebrown@osborne.com,"4291 Nichols Fork Apt. 562\nThomaschester, SC ...",DarkSlateGray,31.945396,12.965761,36.966389,6.076654,657.019924
50,william82@gmail.com,"11143 Park Squares\nSamanthatown, UT 97073",SandyBrown,33.256335,13.858062,37.780265,5.976768,725.584814

___________
________________

#### Top 5 data of Wheat

In [16]:
df[df['Avatar']=='Wheat'].head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
24,youngbarbara@yahoo.com,"019 Elliott Tunnel Suite 190\nNicholsbury, WV ...",Wheat,34.507551,12.893670,37.635756,5.705154,700.917092
102,acampbell@sanchez-velasquez.info,"5791 Jessica Cove\nMckinneyborough, OK 64460-7536",Wheat,32.425697,11.448902,37.580190,2.586968,420.737673
157,asilva@yahoo.com,USNV Johnson\nFPO AP 19026,Wheat,34.603311,12.207298,33.913847,6.922689,744.221867
331,stephaniehill@hotmail.com,"8248 Parker Overpass Apt. 024\nLake Pamela, WY...",Wheat,32.274594,12.954811,37.108816,3.689917,533.040060
365,willie26@johnson-howard.com,97686 Robertson Cape Suite 607\nPort Veronicas...,Wheat,32.030550,12.644202,38.001827,5.038107,594.274483

____
____________

##### Minmum Avg Session Length

In [17]:
df['Avg. Session Length'].min()

29.532428967057943

____________

## Thank you

_______________
___________________